.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, 
#lezioni .row > .right{
  width: 50%;
  float: left;
}
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}
#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}
#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}
#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

.container.grey{
  background-color: #f9f9f9;
}
img{
  height: 200px;
}
.clear {
  clear:both;
}

/*-----------------------------
PARTE RESPONSIVE
-----------------------------*/

@media screen and (max-width: 420px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container.grey{
    background-color: #E6E6BD;
  }

  .row{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  img{
    height: 100px;
  }

  h3{
    font-size: 14px;
  }

  /* BLOCCO LEZIONI */

  #lezioni, #steps, #why{
    padding: 0 15px;
  }

  #lezioni .row > .left, 
  #lezioni .row > .right{
  width: 100%;
  display: block;
  font-size: 12px;
  }

  #lezioni .row > .left{
    padding-bottom: 20px;
  }

  #lezioni .row > .right{
    padding-bottom: 10px;
  }

  .row h1{
    padding: 20px 0;
  }

  /* BLOCCO STEPS */

  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
  float: none;
  width: 100%;
  padding-bottom: 20px;
  font-size: 12px;
  }

  #steps .row > .right{
    padding-bottom: 10px;
  }

  /* BLOCCO PERCHE */

  #why .row > .first,
  #why .row > .second,
  #why .row > .third{
  width: 100%;
  font-size: 12px;
  }

  #why .row >.first{
    margin-top: 0;
  }

  #why .row > .second,
  #why .row > .third{
  margin-top: 20px;
  }

  #why .row > .third{
    padding-bottom: 10px;
  }

}

@media screen and (min-width: 421px) and (max-width: 780px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .row img{
    height: 100px;
  }

  /* BLOCCO LEZIONI */

  #lezioni .row > .left, 
  #lezioni .row > .right{
  width: 100%;
  display: block;
  margin: 0;
  }

}